<div class="p-4">
  <h2 class="text-xl font-bold mb-4">{{ 'ADMIN.USERS.TITLE' | translate }} - {{ totalUsers() }}</h2>
  <div>
    <p-table
      [value]="usuarios()"
      [lazy]="true"
      [rows]="pageSize()" 
      [totalRecords]="totalUsers()"
      [loading]="loading()"
      [paginator]="true"
      (onLazyLoad)="loadUsers($event)"
      [responsiveLayout]="'scroll'"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{{'PRIMENG.PAGINATOR.SHOWING_OF' | translate: {first: '{first}', last: '{last}', totalRecords: '{totalRecords}'} }}"
      [rowsPerPageOptions]="[2, 5, 10, 20]"
      paginatorLocale="es-ES" 
      [tableStyle]="{'min-width': '75rem'}"
      dataKey="id" 
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width:20%">
            {{ 'ADMIN.USERS.TABLE.NAME' | translate }} <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th style="width:20%"> {{ 'ADMIN.USERS.TABLE.ORGANIZATION' | translate }}
          </th>
          <th pSortableColumn="email" style="width:25%">
            {{ 'ADMIN.USERS.TABLE.EMAIL' | translate }} <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="active" style="width:10%">
            {{ 'ADMIN.USERS.TABLE.ACTIVE' | translate }} <p-sortIcon field="active"></p-sortIcon>
          </th>
          <th pSortableColumn="role" style="width:10%">
            {{ 'ADMIN.USERS.TABLE.ROLE' | translate }} <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt" style="width:15%">
            {{ 'ADMIN.USERS.TABLE.UPDATED_AT' | translate }} <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th style="width:10%">
            {{ 'ADMIN.USERS.TABLE.ACTIONS' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.organization ? (getOrgName(user.organization)() || 'N/A') : 'N/A' }}</td>
          <td>{{ user.email }}</td>
          <td>
            <i *ngIf="user.active" class="pi pi-check-circle text-green-500 text-xl"></i>
            <i *ngIf="!user.active" class="pi pi-times-circle text-red-500 text-xl"></i>
          </td>
          <td>{{ user.role }}</td>
          <td>{{ user.updatedAt?.toDate() | date:'dd/MM/yyyy HH:mm':undefined:lang() }}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="onEdit(user)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center p-4">
            {{ 'ADMIN.USERS.TABLE.NO_USERS_FOUND' | translate }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns>
          <tr>
              <td [attr.colspan]="columns ? columns.length : 7" class="text-center p-4">
                  <p-progressSpinner styleClass="w-8 h-8" strokeWidth="4"></p-progressSpinner>
                  <p class="mt-2">{{ 'ADMIN.USERS.TABLE.LOADING_USERS' | translate }}</p>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>