<div class="bg-white dark:bg-zinc-900 p-4 rounded-lg shadow-md">
  <h2 class="text-xl font-bold mb-4">{{ 'ADMIN.USERS.TITLE' | translate }} - {{ totalUsers() }}</h2>
  @if (!loading()){
  <div>
    <div>
    <p-table 
      [value]="usuarios()" 
      [totalRecords]="totalUsers()" [paginator]="true" 
      [rows]="2" 
      [loading]="loading()"
      (onPage)="onPageChange($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'ADMIN.USERS.TABLE.NAME' | translate }}</th>
          <th>{{ 'ADMIN.USERS.TABLE.ORGANIZATION' | translate }}</th>
          <th>{{ 'ADMIN.USERS.TABLE.EMAIL' | translate }}</th>
          <th>{{ 'ADMIN.USERS.TABLE.ACTIVE' | translate }}</th>
          <th>{{ 'ADMIN.USERS.TABLE.ROLE' | translate }}</th>
          <th>{{ 'ADMIN.USERS.TABLE.UPDATED_AT' | translate }}</th>
          <th>{{ 'ADMIN.USERS.TABLE.ACTIONS' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-columns="columns">
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.organization ? (getOrgName(user.organization)() || 'N/A') : 'N/A' }}</td>
          <td>{{ user.email }}</td>
          <td>
            <i *ngIf="user.active" class="pi pi-check-circle text-green-500"></i>
            <i *ngIf="!user.active" class="pi pi-times-circle text-red-500"></i>
          </td>
          <td>{{ user.role }}</td>
          <td>{{ user.updatedAt?.toDate() | date:'mediumDate':undefined:lang() }}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded" (click)="onEdit(user)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7" class="text-center p-4">{{ 'ADMIN.USERS.TABLE.NO_USERS' | translate }}</td>
        </tr>
    </ng-template>
    </p-table>
  </div>
  </div>
  } @else {
  <div class="text-center">{{ 'ADMIN.USERS.LOADING' | translate }} </div>
  }

</div>