<div class="grid grid-cols-1 w-full bg-stone-50 dark:bg-gris rounded p-4">

   <!-- TOLBAR  -->
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="start">
      <h2 class="text-xl font-bold">{{ 'ADMIN.USERS.TITLE' | translate }}</h2>
    </ng-template>

    <ng-template pTemplate="end">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input pInputText type="text" [(ngModel)]="globalFilterValue"
          (input)="userTable.filterGlobal(globalFilterValue, 'contains')"
          placeholder="{{'ACTIONS.SEARCH_KEYWORD' | translate}}" />
      </p-iconfield>
    </ng-template>
  </p-toolbar>

  <!-- TABLA -->
  <p-table #userTable [value]="usuarios()" [rows]="pageSize()" [totalRecords]="totalUsers()" [loading]="loading()"
    [paginator]="true" [responsiveLayout]="'scroll'" [showCurrentPageReport]="true" [paginatorDropdownAppendTo]="'body'"
    [currentPageReportTemplate]="'PRIMENG.PAGINATOR.SHOWING_OF' | translate" [rowsPerPageOptions]="[5, 10, 20, 50]"
    paginatorLocale="es-ES" [tableStyle]="{'min-width': '75rem'}" dataKey="id" [filterDelay]="300" [scrollable]="true"
    [globalFilterFields]="['name', 'email', 'role', 'organizationName']">
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%" pFrozenColumn>
          {{ 'ADMIN.USERS.TABLE.NAME' | translate }}
          <p-columnFilter type="text" field="name" matchMode="contains" [showMenu]="false"
            class="w-full"></p-columnFilter>
        </th>
        @if(isMandante()){
        <th style="width:20%">
          {{ 'ADMIN.USERS.TABLE.ORGANIZATION' | translate }}
          <p-columnFilter field="organizationName" matchMode="in" [showMenu]="false" class="w-full">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div (click)="$event.stopPropagation()">
                <p-multiSelect [options]="organizationsNames()" placeholder="{{'ACTIONS.ALL' | translate}}"
                  (onChange)="userTable.filter($event.value, 'organization', 'in')" optionLabel="label"
                  optionValue="value" [showToggleAll]="true" [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'{0} ' + ('ACTIONS.ITEMS_SELECTED' | translate | lowercase)" appendTo="body"
                  styleClass="w-full">
                </p-multiSelect>
              </div>
            </ng-template>
          </p-columnFilter>
        </th>
        }

        <th style="width:25%">
          {{ 'ADMIN.USERS.TABLE.EMAIL' | translate }}
          <p-columnFilter type="text" field="email" matchMode="contains" [showMenu]="false"
            class="w-full"></p-columnFilter>
        </th>
        <th style="width:10%">
          {{ 'ADMIN.USERS.TABLE.ACTIVE' | translate }}
          <p-columnFilter field="active" matchMode="equals" [showMenu]="false" class="w-full">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div (click)="$event.stopPropagation()">
                <p-select [options]="activeFilterOptions" [ngModel]="value" (onChange)="filter($event.value)"
                  placeholder="{{'ACTIONS.SELECT_STATUS' | translate}}" [showClear]="true"
                  styleClass="w-full md:w-10rem" optionValue="value" [optionLabel]="'label.' + lang()" appendTo="body">
                  <ng-template let-option pTemplate="item">
                    <span>{{ option.label[lang()] }}</span>
                  </ng-template>
                </p-select>
              </div>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width:10%">
          {{ 'ADMIN.USERS.TABLE.ROLE' | translate }}
          <p-columnFilter field="role" matchMode="equals" [showMenu]="false" class="w-full">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div (click)="$event.stopPropagation()">
                <p-select [options]="roles" [ngModel]="value" (onChange)="filter($event.value)"
                  placeholder="{{'ACTIONS.SELECT_TYPE' | translate}}" [showClear]="true" styleClass="w-full md:w-10rem"
                  optionValue="value" [optionLabel]="'label.' + lang()" appendTo="body">
                  <ng-template let-option pTemplate="item">
                    <span>{{ option.label[lang()] }}</span>
                  </ng-template>
                </p-select>
              </div>
            </ng-template>
          </p-columnFilter>
        </th>

        <th style="width:10%">
          {{ 'ADMIN.USERS.TABLE.UPDATED_AT' | translate }}
        </th>
        <th style="width:15%">
          {{ 'ADMIN.USERS.TABLE.ACTIONS' | translate }}
        </th>
      </tr>
    </ng-template>

    <!-- BODY -->

    <ng-template pTemplate="body" let-user>
      <tr>
        <td pFrozenColumn>{{ user.name }}</td>
        @if(isMandante()){
        <td>{{ user.organizationName || (user.organization ? (getOrgName(user.organization)() || 'N/A') : 'N/A') }}</td>
        }
        <td>{{ user.email }}</td>
        <td>
          <div class="flex justify-center">

            <i *ngIf="user.active" class="pi pi-check-circle text-green-400 text-xl"></i>
            <i *ngIf="!user.active" class="pi pi-times-circle text-red-400 text-xl"></i>
          </div>
        </td>
        <td>{{ 'ROLES.' + user.role | translate }}</td>
        <td>{{ user.updatedAt?.toDate() | date:'dd/MM/yyyy HH:mm':undefined:lang() }}</td>
        <td>
          <p-button  icon="pi pi-pencil" severity="primary" rounded="true"
          text="true" class="mr-2"  (click)="onEdit(user)" tooltipPosition="top" [pTooltip]="'ACTIONS.EDIT' | translate "></p-button>
        </td>
      </tr>
    </ng-template>
    <!-- VACIO -->

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="7" class="text-center p-4">
          {{ (globalFilterValue ? 'ADMIN.USERS.TABLE.NO_USERS_MATCHING_FILTER' : 'ADMIN.USERS.TABLE.NO_USERS_FOUND') |
          translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- DRAWER -->
 <app-update-user [(visible)]="editVisible" [userToUpdate]="userToEdit()" ></app-update-user>