<div class="p-4 bg-white dark:bg-zinc-900 shadow-md rounded-lg">
  <h2 class="text-xl font-bold mb-4 w-full text-center">{{ 'SIDEBAR.PROJECTS' | translate }}</h2>
  <div>
    <p-table #projectsTable [value]="proyectos()" [rows]="pageSize()" [totalRecords]="totalProjects()" [loading]="loading()"
      [paginator]="true" [responsiveLayout]="'scroll'" [showCurrentPageReport]="true"
      [paginatorDropdownAppendTo]="'body'" stripedRows
      [currentPageReportTemplate]="'PRIMENG.PAGINATOR.SHOWING_OF' | translate" [rowsPerPageOptions]="[5, 10, 20, 50]"
      paginatorLocale="es-ES" [tableStyle]="{'min-width': '75rem'}" dataKey="id" [filterDelay]="300" [scrollable]="true"
      [globalFilterFields]="['title', 'client', 'category', 'status']">

      <ng-template pTemplate="caption">
        <div class="flex justify-between items-center mb-2">
          <button pButton type="button" icon="pi pi-plus" class="p-button-primary"
            (click)="onCreateNewProject()" [pTooltip]="'ACTIONS.CREATE' | translate" tooltipPosition="top"
            label="{{'ACTIONS.CREATE' | translate}}"></button>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" [(ngModel)]="globalFilterValue"
              (input)="projectsTable.filterGlobal(globalFilterValue, 'contains')"
              placeholder="{{'ACTIONS.SEARCH_KEYWORD' | translate}}" />
          </p-iconfield>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%" pSortableColumn="title">
            {{ 'PROJECTS.TABLE.TITLE' | translate }} <p-sortIcon field="title"></p-sortIcon>
            <p-columnFilter type="text" field="title" matchMode="contains" [showMenu]="false" class="w-full"></p-columnFilter>
          </th>
          <th style="width:20%" pSortableColumn="client">
            {{ 'PROJECTS.TABLE.CLIENT' | translate }} <p-sortIcon field="client"></p-sortIcon>
            <p-columnFilter type="text" field="client" matchMode="contains" [showMenu]="false" class="w-full"></p-columnFilter>
          </th>
          <th style="width:15%" pSortableColumn="category">
            {{ 'PROJECTS.TABLE.CATEGORY' | translate }} <p-sortIcon field="category"></p-sortIcon>
            <p-columnFilter type="text" field="category" matchMode="contains" [showMenu]="false" class="w-full"></p-columnFilter>
          </th>
          <th style="width:15%" pSortableColumn="status">
            {{ 'PROJECTS.TABLE.STATUS' | translate }} <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter type="text" field="status" matchMode="contains" [showMenu]="false" class="w-full"></p-columnFilter>
          </th>
          <th style="width:15%" pSortableColumn="updatedAt">
            {{ 'ADMIN.USERS.TABLE.UPDATED_AT' | translate }} <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th style="width:10%">
            {{ 'ADMIN.USERS.TABLE.ACTIONS' | translate }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-project>
        <tr>
          <td>{{ project.name_es }}</td>
          <td>{{ project.client }}</td>
          <td>{{ project.category }}</td> <td>{{ project.status }}</td>   <td>{{ project.updatedAt?.toDate() | date:'dd/MM/yyyy HH:mm':undefined:lang() }}</td>
          <td>
            <div class="flex gap-2">
              <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info"
                (click)="onEditProject(project)" [pTooltip]="'ACTIONS.EDIT' | translate" tooltipPosition="top"></button>
              <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                (click)="onDeleteProject(project)" [pTooltip]="'ACTIONS.DELETE' | translate" tooltipPosition="top"></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="6" class="text-center p-4">
            {{ (globalFilterValue ? 'PROJECTS.TABLE.NO_PROJECTS_MATCHING_FILTER' : 'PROJECTS.TABLE.NO_PROJECTS_FOUND') | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>