<div class="
    relative flex items-center justify-center min-h-screen
    bg-surface-50 dark:bg-surface-950 px-4 overflow-hidden
  ">
  <!-- fondo -->
  <div class="
      absolute inset-0
      bg-[url('/assets/images/auth/wallpaper.jpg')]
      bg-cover bg-center
      filter grayscale-50 dark:grayscale-70
      z-0
    "></div>

  <!-- tarjeta -->
  <div class="flex flex-col items-center justify-center z-10 w-full">
    <div [ngStyle]="isDark() ? darkStyle : lightStyle" class="
        w-full max-w-lg    /* ancho completo hasta un máximo razonable */
        p-0 flex flex-col items-center justify-center
      ">
      <div class="w-full bg-surface-100 dark:bg-surface-900
               pt-5 md:pt-10 px-6 md:px-15 rounded-[53px]">
        <div class="text-center mb-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botones flotantes arriba a la derecha -->
<div class="fixed top-0 right-0 p-6 z-20 flex gap-2">
  @if (isDark()) {
  <p-button [pTooltip]="'TOPBAR.INICIO' | translate " tooltipPosition="bottom" icon="pi pi-home" rounded="true"
    severity="secondary" [routerLink]="'/'"></p-button>
  <p-button [pTooltip]="'TOPBAR.MODO_CLARO'| translate " tooltipPosition="bottom" icon="pi pi-sun" rounded="true"
    severity="secondary" (onClick)="toggleTheme()"></p-button>
  <p-button [pTooltip]="'TOPBAR.IDIOMA' | translate " tooltipPosition="bottom" icon="pi pi-globe" rounded="true"
    severity="secondary" (click)="langMenu.toggle($event)"></p-button>
  } @else {
  <p-button [pTooltip]="'TOPBAR.INICIO' | translate " tooltipPosition="bottom" icon="pi pi-home" rounded="true"
    severity="primary" [routerLink]="'/'"></p-button>
  <p-button [pTooltip]="'TOPBAR.MODO_OSCURO' | translate " tooltipPosition="bottom" icon="pi pi-moon" rounded="true"
    severity="primary" (onClick)="toggleTheme()"></p-button>
  <p-button [pTooltip]="'TOPBAR.IDIOMA' | translate " tooltipPosition="bottom" icon="pi pi-globe" rounded="true"
    severity="primary" (click)="langMenu.toggle($event)"></p-button>
  }
  <p-tieredmenu #langMenu [model]="items()" popup appendTo="body"></p-tieredmenu>
</div>